* {
  color: #0b5b67;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tittle {
  font-family: "Yusei Magic", sans-serif;
  font-size: 30px;
}
.button {
  background-color: #e89292;
  font-weight: 800;
  border-radius: 22.5px;
  padding: 10px 30px;
  margin-top: 30px;
  border: none;
}
.counter {
  color: #e89292;
  font-size: 24px;
}
