*{
   background-color: #fceecd;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tittle {
  font-family: "Yusei Magic", sans-serif;
  color: #0b5b67;
}



/*colores
#0B5B67
#E89292
#F6BABA
#FBDD8E
font-family: 'Roboto', sans-serif;/*